@model ShopItem

@{
    ViewBag.Title = "Delete Shop Item";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    
    <p>Are you sure you want to delete the @Model.Name (€ @Model.Price)?</p>

    <a asp-action="Index" class="btn btn-primary">No</a>
    <button type="submit" class="btn btn-danger">Yes</button>
</form>
