@model ShopItem
@{
    ViewBag.Title = "Edit Shop Item";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    <partial name="CreateEditPartial" model="Model"/>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>